/* Basic CSS style */

.lowercase {text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
hr { margin: 2.5em 0; }

.banner_section{
    background: url(../images/kingsila359.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    width: 1528px;
    height: 680px;  
    z-index: 0;
}

.banner-info {
    position: absolute;
    top: 40%;
    left: 3%;
}

a.btn.work {
    padding: 0.6em 2em;
    background: #fff;
    font-size: 0.9em;
    letter-spacing: 1px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    color: #0a0a0a;
}

a.btn.work:hover,
a.btn.work.active {
    background: #037ef3;
    color: rgb(228, 226, 226);
}

.banner-info h5,
.banner-info h6 {
    margin: 0.5em 0;
    font-size: 0.9em;
    color: #ffd900;
}


.banner-info h5 {
    font-size: 1.4em;
    color: rgb(238, 238, 238);
}

.banner-info h3 {
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 4em;
    font-weight: 700;
}

.banner-info h3:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 10em;
    white-space: nowrap;
    color: #fff;
    animation: loading 8s linear;
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}
/*------------- End Banner ------------*/

/** ======================= Navigation Menu ===== */

#menu,
ul.nav-honey {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#brand {
    padding-left: 40px;
    float: left;
    width: 20%;
}

#logo {
    width: 55px;
    height: 55px;
    background: #037ef3;
    border-radius: 50%;
    cursor: pointer;
}